body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.display {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
    margin-top:35%;
    text-align:center;
    text-shadow: rgb(5, 5, 5) 0px 0px 100px;
}
.content{
    width: 20%;
    margin: auto; 
    box-shadow: 0px 0px 10px #17D4FE;
    height: 60vh;
    background-image: url("thinking_man_PNG11606.png");
    border-radius: 5px;
    border: 1px solid transparent; 
    margin-top: 10%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}
 .time{
    text-shadow: rgb(5, 5, 5) 0px 0px 100px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
 }
 @media screen and (max-width:1080px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:1000px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:900px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:800px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:700px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:600px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:520px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:460px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:400px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:360px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
 @media screen and (max-width:320px){
    .content{
        width: auto;
        height: 100vh;
        margin-top: 0%;
    }
    .display{
        margin-top: 80%;
    }
 }
